<head>
    <h1>Bienvenidos!</h1>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="menu-usuario.component.css">
</head>
<body>
    
	<header>

		<nav class="navegacion">
			<ul class="menu">
                <li><a href="/add-contacto">añadir cliente!!</a>
            </li>
                <li><a href="#">Facturas clientes</a>
                
                    <ul class="submenu">
                        <li><a href="/factura">ver facturas</a></li>
                    </ul>
                
                </li>
				<li><a href="#">Tipos de Servicios</a>
                <ul class="submenu">
                    <li><a href="#">fijo+internet 50mbps</a></li>
                    <li><a href="#">fijo+internet 50mbps+cablr</a></li>
                </ul>
            </li>
				<li><a href="#">Clientes y Contactos</a>
                    <ul class="submenu">
                        <li><a href="/eliminar-contactos">ver lista clientes</a></li>
                    </ul>
				</li>
			</ul>
		</nav>
	</header>
</body>
