
<head>
    <h1>Bienvenidos!</h1>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="menu-admin.component.css">
</head>
<body>
    
	<header>

		<nav class="navegacion">
			<ul class="menu">
				<li><a href="#">Tipos de Servicios</a>
                <ul class="submenu">
                    <li><a href="#">fijo+internet 50mbps</a></li>
                    <li><a href="#">fijo+internet 50mbps+cablr</a></li>
                </ul>
            </li>
            <li><a href="#">Lista de Contactos</a>
                <ul class="submenu">
                    <li><a href="/eliminar-contactos">ver</a></li>
                </ul>
            </li>

				<li><a href="#"   >Usuarios</a>
					<ul class="submenu">
						<li><a href="https://docs.google.com/spreadsheets/d/1XPn-YXOt3pPMg1Ml8Fahf0I4w7Z62JR4MXDjhsTWvXc/edit?usp=sharing">Horario</a></li>
						<li><a  href="/eliminar-usuarios"  >Eliminar</a></li>
					</ul>
				</li>
			</ul>
		</nav>
	</header>
</body>
